# Configuration file for Goat-os - GO Accounting Tool for Openstack.

# Flags are set via this configuration file or from command line flags.
# Settings from command line flags replace configuration settings.

# Identifier of an instance (required)
identifier: goat

# The records are filtered by time. Filter allows the records
# from time, to time or for a period. It cannot filter
# the records from/to and records for a period in the same time.
# Time from and time to can be used independently.
# Time from has to be earlier than time to.
# Time settings or period setting are optional, the default filter
# uses time from 0000-00-00 00:00:00 to current time (now).

# Records from given time (optional)
# time format: yyyy-mm-dd hh:mm:ss + nsec nanoseconds
records-from:

# Records to given time (optional)
# time format: yyyy-mm-dd hh:mm:ss + nsec nanoseconds
records-to:

# Records for given period (optional)
# The following tokens may be used to specify the respective unit of time:
# Nanosecond: ns
# Microsecond: us, µs (U+00B5 = micro symbol), μs (U+03BC = Greek letter mu)
# Millisecond: ms
# Second: s, sec, second, seconds
# Minute: m, min, minute, minutes
# Hour: h, hr, hour, hours
# Day: d, day, days
# Week: w, wk, week, weeks
# Month: mo, mon, month, months
# Year: y, yr, year, years
records-for-period:

# Goat server endpoint (required)
endpoint: 127.0.0.1:9623

# Openstack identity endpoint (required)
openstack-identity-endpoint: https://openstack.example.com:5000/v3

# Timeout for Openstack calls (required)
openstack-timeout: 5m

# Auth-options stores information needed to authenticate to
# an OpenStack Cloud. (required)
auth-options:
  # Username is required if using Identity V2 API. 
  # In Identity V3, either user-id or a combination of username and
  # domain-id or domain-name are needed.
  username:
  user-id:
  password:

  # Passcode is used in TOTP authentication method.
  passcode:

  # At most one of domain-id and domain-name must be provided if using
  # username with Identity V3. Otherwise, either are optional.
  domain-id:
  domain-name:

  # The tenant-id and tenant-name fields are optional for the Identity V2 API.
  # The same fields are known as project-id and project-name in the Identity
  # V3 API, but are collected as tenant-id and tenant-name here in both cases.
  # Some providers allow you to specify a tenant-name instead of the tenant-id.
  # Some require both. Your provider's authentication policies will determine
  # how these fields influence authentication.
  # If tenant-id or tenant-name are provided, they will also apply to tenant-name.
  # It is not currently possible to authenticate with Username and a Domain
  # and scope to a Project in a different Domain by using tenant-name. To
  # accomplish that, the project-id will need to be provided as the tenant-id
  # option.
  tenant-id:
  tenant-name:

  # Allow-reauth should be set to true if you grant permission for developers to
  # cache your credentials in memory, and to allow developers to attempt to
  # re-authenticate automatically if/when your token expires.  If you set it to
  # false, it will not cache these settings, but re-authentication will not be
  # possible. This setting defaults to false.
  allow-reauth:

  # Token-id allows users to authenticate (possibly as another user) with an
  #	authentication token ID.
  token-id:

  # Scope determines the scoping of the authentication request.
  # It allows a created token to be limited to a specific domain or project.
  scope:
    project-id:
    project-name:
    domain-id:
    domain-name:
    system:

  # Authentication through Application Credentials requires supplying name,
  # project and secret. For project we can use tenant-id.
  application-credential-id:
  application-credential-name:
  application-credential-secret:

# Endpoint options specifies search criteria used by queries against an
# OpenStack service catalog. The options must contain enough information to
# unambiguously identify one, and only one, endpoint within the catalog.
endpoint-options:
  # Type is the service type for the client (e.g., "compute",
  # "object-store"). Generally, this will be supplied by the service client
  # function, but a user-given value will be honored if provided.
  type:

  # Name is the service name for the client (e.g., "nova") as it
  # appears in the service catalog. Services can have the same Type but a
  # different Name, which is why both Type and Name are sometimes needed.
  name:

  # Region is the geographic region in which the endpoint resides,
  #	generally specifying which data center should house your resources.
  #	Required only for services that span multiple regions.
  region:

  # Availability indicates to whom a specific service endpoint is accessible:
  # the internet at large, internal networks only, or only to administrators.
  # Different identity services use different terminology for these. Identity v2
  # lists them as different kinds of URLs within the service catalog ("adminURL",
  # "internalURL", and "publicURL"), while v3 lists them as "Interfaces" in an
  # endpoint's response.
  #
  #	[AvailabilityPublic, AvailabilityInternal, AvailabilityAdmin]
  #
  #	Availability is not required, and defaults to AvailabilityPublic. Not all
  #	providers or services offer all Availability options.
  availability:

# Debug mode (true/false)
debug: false

# Path to log file (optional)
log-path:

# The following commands are specific for given resources.

# Subcommands specific for a virtual machine.
vm:
  # Site name (required)
  site-name: goat-vm-site-name

  # Cloud type (required)
  cloud-type: goat-vm-cloud-type

  # Cloud compute service (optional)
  cloud-compute-service:

# Subcommands specific for a network.
network:
  # Site name (required)
  site-name: goat-network-site-name

  # Cloud type (required)
  cloud-type: goat-network-cloud-type

  # Cloud compute service (optional)
  cloud-compute-service:

# Subcommands specific for a storage.
storage:
  # Site (optional)
  site: